
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Items</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>



                <!--<div class="panel panel-default">
                    <div class="panel-heading">
                        Comentarios
                    </div>

                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Comentario1</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Comentario2</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Comentario3</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Item1
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <img style="width: 300px; height: 200px;"
                             src="C:\Users\Guillermo\Desktop\UPC\EA\Trabajos\project\public\views\Guillermo.jpg" /></p>
                    <pre>Comentarios sobre la foto y articulo, quiero ver como queda así que pongo un texto largo...</pre>
                </div>
                <p class="fa fa-comment">commentarios </p>
            </div>
        </div>
    </div>
</div>

