<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="adminApp">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Panel de administrador</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>  
                <ul class="dropdown-menu dropdown-user">
                    <li><a href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="sidebar" role="navigation">
            <div class="">
                <ul class="nav">                    
                    <li>
                        <a href="#/"><i class="fa fa-user fa-fw"></i> Usuarios</a>                       
                    </li>
                    <li>
                        <a href="#/create"><i class="fa fa-plus fa-fw"></i> Crear usuario</a>
                    </li>
                    <li>
                        <a href="#/items"><i class="fa fa-files-o fa-fw"></i> Entradas</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        
        <ng-view></ng-view>

    </div>

</div>

    <!--AngularJs -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>

    <!--Falta migrar a directivas angular-bootstrap -->
    <!--<script src="../bower_components/bootstrap.native/dist/bootstrap-native.min.js"></script>-->
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>   
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>   

    <script src="../app.js"></script>
    <script src="../controllers/adminUserController.js"></script>

</body>

</html>