<div id="content-wrapper" ng-init="getItems()">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-preview" class="module">
                    <div id="profile-pre-header">
                        <a href="#/user/{{user.loginid}}"><img ng-src={{user.photo_user||"http://localhost:2709/assets/imgs/profiles/profileTestPic2.png"}}></a>
                        <h3>{{user.displayname}}</h3>
                        <h4>@{{user.loginid}}</h4>
                    </div>
                    <div  id="profile-pre-stats">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>SEGUIDORES</h5>
                                <h6>{{user.followers.length || 0}}</h6>
                            </div>
                            <div class="col-md-6">
                                <h5>SIGUIENDO</h5>
                                <h6>{{user.following.length || 0}}</h6>
                            </div>
                        </div>
                    </div>
                    <a class="btn add-item-button" ng-href="#/additem">Add new item</a>
                </div>
                <!--
                <div id="filters" class="module">
                    <div class="module-header">
                        <h2><i class="fa fa-filter fa-2x"></i> Filters</h2>
                    </div>
                    <p><br>No implementado</p>
                </div>
                -->
            </div>
            <div class="col-md-9">
                <div id="main-module">
                    <div class="row">
                        <div ng-repeat="item in items">
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-md-4" >
                            <div class="item-wrapper">
                                <div class="item-pre-pic-wrapper">
                                    <a href="#/item/{{item._id}}"><img class="item-pre-pic" ng-src="http://localhost:2709/assets/imgs/items/{{item.pic_id}}"></a>
                                </div>
                                <div class="item-pre-info">
                                    <h2>{{item.title}}</h2>
                                    <div class="item-pre-stats">
                                        <p><i class="fa fa-heart"></i> {{item.likes.length}} <i class="fa fa-comments-o"></i> {{item.comments.length}}</p>
                                    </div>
                                </div>
                                <div class="item-pre-footer">
                                    <h3><a href="#/user/{{item.author.loginid}}">@{{item.author.loginid}}</a> - {{item.creation_date | date:'dd/MM/yyyy HH:mm'}}</h3>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-default" ng-click="loadMore()">Load more</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
