<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-preview">
                    <div class="module">

                    </div>
                </div>
                <div id="filters">
                    <div class="module">
                        <div class="module-header">
                            <h2><i class="fa fa-filter fa-2x"></i> Filters</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="main-module">
                    <div class="module">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
