<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="item-view-module">
                    <div class="item-view-header">
                        <div class="pull-left">
                            <h4 class="displayname">Add new Item</h4>
                        </div>
                    </div>
                    <div class="item-view-content">
                        <form ng-submit="addItem()">
                            <div class="form-group">
                                <label for="title">Title </label>
                                <input type="text" class="form-control" placeholder="Title"  id="title" ng-model="item.title" required>
                            </div>
                            <div class="form-group">
                                <input type='file' ng-model='image' base-sixty-four-input required>
                            </div>
                            <br>
                            <div class="form-group">
                                <ui-gmap-google-map center="map.center"  events="map.events" draggable="true" zoom="map.zoom">
                                    <ui-gmap-markers models="markerList" coords="'self'" icon="'icon'" modelsbyref="false"/>
                                </ui-gmap-google-map>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="item-submit" id="item-submit" tabindex="4" class="form-control btn btn-register" value="Save">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>