<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="item-view-module">
                    <div class="item-view-header">
                        <div class="pull-left">
                            <h4 class="displayname">{{item.author.displayname}}</h4>
                            <a href="#/user/{{item.author.loginid}}"><h4 class="loginid">@{{item.author.loginid}}</h4></a>
                            <h5 class="time">- {{item.creation_date | date:'dd/MM/yyyy HH:mm'}}</h5>
                        </div>
                        <div class="pull-right">
                            {{item.likes.length}} <i class="fa fa-lg fa-heart"></i>
                        </div>
                    </div>
                    <div class="item-view-title">
                        {{item.title}}
                        <a ng-hide="liked" ng-click="like()" class="btn btn-primary pull-right">Like</a>
                        <a ng-show="liked" ng-click="dislike()" class="btn btn-danger pull-right">Dislike</a>
                    </div>
                    <div class="item-view-pic-wrapper text-center">

                            <!--<img  src="http://localhost:2709/assets/imgs/items/{{item.pic_id}}">-->
                        <a href="http://localhost:2709/assets/imgs/items/{{item.pic_id}}"><img ng-src="http://localhost:2709/assets/imgs/items/{{item.pic_id}}"></a>


                    </div>


                    <div class="item-view-map-wrapper" >
                        <div class="row">
                            <a ng-click="mapButton()" class="btn btn-default show-map-button col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                                <i class="fa fa-lg fa-map-marker"></i>{{mapButtonLabel}} map
                            </a>
                        </div>
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" ng-show="mapVisible"></ui-gmap-google-map>

                    </div>
                    <div class="item-view-comments">
                        <div class="input-group">
                            <input ng-model="newComment.content" class="form-control" placeholder="Add a comment" type="text">
                            <span class="input-group-addon">
                                <a ng-click="postComment()"><i class="fa fa-edit"></i></a>
                            </span>
                        </div>
                        <ul class="comments-list" ng-init="getComments()">
                            <li class="comment" ng-repeat="comment in comments">
                                <a class="pull-left" href="#" >
                                    <img class="comment-avatar" ng-src={{comment.author.photo_user||"http://localhost:2709/assets/imgs/profiles/profileTestPic2.png"}} alt="Avatar">
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user">{{comment.author.loginid}}</h4>
                                        <h4 class="time">{{comment.creation_date | date:'dd/MM/yyyy HH:mm'}}</h4>
                                    </div>
                                    <p>{{comment.content}}</p>
                                </div>
                            </li>
                        </ul>
                        <nav>
                            <ul class="pager">
                                <li ng-class="{'disabled':currentCommentsPage <= 0}" class="previous"><a ng-click="olderComments()"><span>&larr;</span> Newer</a></li>
                                <li class="next"><a ng-click="newerComments()">Older <span>&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>