<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop In</title>
    <link href='../assets/imgs/logo_shopin_browser.png' rel='shortcut icon' type='image/png'>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/css/sb-admin-2.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- links login-passport-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->


</head>

<body ng-app="loginApp" ng-controller="loginRegisterCtrl">


<div id="rosa">
    <div id="loginregister" class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <img src="../assets/imgs/logo_shopin.png" alt="Shop In"/>
                            <div class="col-xs-6">
                                <a href="#/" ng-click="loginClick()" class="active" id="login-form-link">Log In</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#/register" ng-click="registerClick()" id="register-form-link">Sign up</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <!-- Login form o Register form -->
                                <ng-view></ng-view>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--AngularJs -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>

<!--Falta migrar a directivas angular-bootstrap -->
<!--<script src="../bower_components/bootstrap.native/dist/bootstrap-native.min.js"></script>-->
<script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="../loginApp.js"></script>
<script src="../config.js"></script>
<script src="../controllers/loginRegisterCtrl.js"></script>

</body>

</html>