<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="user-conf-module">
                    <div class="user-conf-module-header">
                        <h4>User configuration</h4>
                    </div>
                    <div class="user-conf-module-content">
                        <form ng-submit="changeDisplayname()">
                            <div class="form-group">
                                <label for="displayname">Displayname: </label>
                                <input type="text" class="form-control" id="displayname" ng-model="displayname" placeholder="{{user.displayname}}"required>
                            </div>
                            <button type="submit" class="btn btn-primary ">Change displayname</button>
                        </form>
                    </div>
                    <div class="user-conf-module-content">
                        <form ng-submit="changePhoto()">
                            <div class="form-group">
                                <label for="image">New image: </label>
                                <input type='file' id="image" ng-model='image' base-sixty-four-input required>
                            </div>
                            <button type="submit" class="btn btn-primary ">Change photo</button>
                        </form>
                    </div>
                    <div class="user-conf-module-content">
                        <form ng-submit="changePassword()">
                            <div class="form-group">
                                <label for="password">Password: </label>
                                <input type="password" class="form-control" id="password" ng-model="password" required>
                            </div>
                            <div class="form-group">
                                <label for="repeat-password">Repeat password: </label>
                                <input type="password" class="form-control" id="repeat-password" ng-model="confirm_password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>