<!-- Cabecera con pefil de usuario -->
<div id="profile-wrapper">
    <div class="container">
        <!-- Foto + titulo -->
        <div class="row" id="profile-content">
            <div class="col-md-3" id="profile-avatar-wrapper">
                <a href="#/user/{{profile_user.loginid}}"><img src={{profile_user.photo_user||"http://localhost:2709/assets/imgs/profiles/profileTestPic2.png"}}></a>
            </div>

            <div class="col-md-9" id="profile-info-wrapper">
                <div>
                    <h1 class="profile-user-fullname">{{profile_user.displayname}}</h1>
                </div>
                <div>
                    <h2 class="profile-user-loginid">@{{profile_user.loginid}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- navbar -->
<div id="profile-nav-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <nav id="profile-navbar" class="navbar navbar-default" role=navigation>
                    <ul class="nav navbar-nav">
                        <li><a href="#/user/{{profile_user.loginid}}"> Artículos<span>{{profile_user.items || '0'}}</span></a></li>
                        <li class="profile-li-selected"><a href="#/user/{{profile_user.loginid}}/followers"> Seguidores<span>{{profile_user.followers.length || '0'}}</span></a></li>
                        <li><a href="#/user/{{profile_user.loginid}}/following"> Siguiendo<span>{{profile_user.following.length || '0'}}</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="user._id == profile_user._id || following"><a ng-click="follow()" id="follow-button" class="btn btn-default follow-button" role="button">Follow</a></li>
                        <li ng-show="following"><a ng-click="unfollow()" id="unfollow-button" class="btn btn-default" role="button">Unfollow</a></li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
</div>
</div>

<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="module">
                    <ul class="user-info-list">
                        <li><i class="fa fa-clock-o"></i> Registrado el {{user.creation_date | date:'dd/MM/yyyy'}}</li>
                        <li><i class="fa fa-sign-in"></i> Último acceso el {{user.last_login_date| date:'dd/MM/yyyy'}}</li>
                        <li><i class="fa fa-envelope-o"></i> {{user.email}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="main-module">
                    <div class="row">
                        <div ng-repeat="follower in profile_user.followers">
                            <!-- <div class="clearfix" ng-if="$index % 3 == 0"></div> -->
                            <div class="col-md-3" >
                                <div class="user-list-item" ng-href="">
                                    <a href="">
                                        <img src={{follower.photo_user}}>
                                    </a>
                                    <div class="user-list-item-info">
                                        <h3>{{follower.displayname}}</h3>
                                        <h4>@{{follower.loginid}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>