<!-- Cabecera con pefil de usuario -->
<div id="profile-wrapper">
    <div class="container">
        <!-- Foto + titulo -->
        <div class="row" id="profile-content">
            <div class="col-md-3" id="profile-avatar-wrapper">
                <a href="#/user"><img src={{profile_user.photo_user||"http://localhost:2709/assets/imgs/profiles/profileTestPic2.png"}}></a>
            </div>

            <div class="col-md-9" id="profile-info-wrapper">
                <div>
                    <h1 class="profile-user-fullname">{{profile_user.displayname}}</h1>
                </div>
                <div>
                    <h2 class="profile-user-loginid">@{{profile_user.loginid}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- navbar -->
        <div id="profile-nav-wrapper">
            <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <nav id="profile-navbar" class="navbar navbar-default" role=navigation>
                        <ul class="nav navbar-nav">
                            <li class="profile-li-selected"><a href="#/user"> Artículos<span>{{profile_user.items || '0'}}</span></a></li>
                            <li><a href="#/user"> Seguidores<span>{{profile_user.followers.length || '0'}}</span></a></li>
                            <li><a href="#/user"> Siguiendo<span>{{profile_user.following.length || '0'}}</span></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-hide="user._id == profile_user._id || user.following.includes(profile_user._id)"><a ng-click="follow()" id="follow-button" class="btn btn-default follow-button" role="button">Follow</a></li>
                            <li ng-show="user.following.includes(profile_user._id)"><a ng-click="unfollow()" id="unfollow-button" class="btn btn-default" role="button">Unfollow</a></li>
                        </ul>

                    </nav>
                </div>
            </div>
            </div>
        </div>
</div>

<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="module">
                    <ul class="user-info-list">
                        <li><i class="fa fa-clock-o"></i> Registrado el {{profile_user.creation_date | date:'dd/MM/yyyy'}}</li>
                        <li><i class="fa fa-sign-in"></i> Último acceso el {{profile_user.last_login_date| date:'dd/MM/yyyy'}}</li>
                        <li><i class="fa fa-envelope-o"></i> {{profile_user.email}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="main-module" ng-init="getUserItems()">
                    <div class="row">
                        <div ng-repeat="item in items">
                            <div class="clearfix" ng-if="$index % 3 == 0"></div>
                            <div class="col-md-4" >
                                <div class="item-wrapper">
                                    <div class="item-pre-pic-wrapper">
                                        <a href="#/item/{{item._id}}"><img class="item-pre-pic" src="http://localhost:2709/assets/imgs/items/{{item.pic_id}}"></a>
                                    </div>
                                    <div class="item-pre-info">
                                        <h2>{{item.title}}</h2>
                                        <div class="item-pre-stats">
                                            <p><i class="fa fa-heart"></i> {{item.likes}} <i class="fa fa-comments-o"></i> {{item.comments.length}}</p>
                                        </div>
                                    </div>
                                    <div class="item-pre-footer">
                                        <h3><a href="#/user/{{item.author.loginid}}">@{{item.author.loginid}}</a> - {{item.creation_date | date:'dd/MM/yyyy HH:mm'}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
