<!-- Cabecera con pefil de usuario -->
<div id="profile-wrapper">
    <div class="container">
        <!-- Foto + titulo -->
        <div class="row" id="profile-content">
            <div class="col-md-3" id="profile-avatar-wrapper">
                <a href="#"><img src={{user.profile_pic_url}}></a>
            </div>
            <div class="col-md-9" id="profile-info-wrapper">
                <div>
                    <h1 class="profile-user-fullname">{{user.name}} {{user.last_name}}</h1>
                </div>
                <div>
                    <h2 class="profile-user-loginid">@{{user.loginid}}</h2>
                </div>
            </div>

        </div>
        </div>
        <!-- navbar -->
        <div id="profile-nav-wrapper">
            <div class="row">
            <div class="col-md-9 col-md-offset-3">
            <nav id="profile-navbar" class="navbar navbar-default" role=navigation>
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="profile-li-selected"><a href="#"> Artículos<span>{{user.items}}</span></a></li>
                        <li><a href="#"> Seguidores<span>{{user.followers}}</span></a></li>
                        <li><a href="#"> Siguiendo<span>{{user.following}}</span></a></li>
                    </ul>
                </div>
            </nav>
            </div>
            </div>
        </div>


</div>

<div id="content-wrapper">
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="module">
                    <ul class="user-info-list">
                        <li><i class="fa fa-clock-o"></i> Registrado el {{user.creation_date | date:'dd/MM/yyyy HH:mm:ss'}}</li>
                        <li><i class="fa fa-sign-in"></i> Último acceso el {{user.last_login_date| date:'dd/MM/yyyy HH:mm:ss'}}</li>
                        <li><i class="fa fa-envelope-o"></i> {{user.email}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="main-module">
                    <div class="row items-row">
                        <div class="col-md-4" ng-repeat="item in items">
                            <div class="item-wrapper">
                                <div>
                                    <a href="#"><img class="item-pre-pic" src={{item.pic_url}}></a>
                                </div>
                                <div class="item-pre-info">
                                    <h2>{{item.title}}</h2>
                                    <div class="item-pre-stats">
                                        <p><i class="fa fa-heart"></i> {{item.likes}} <i class="fa fa-comments-o"></i> {{item.num_comments}}</p>
                                    </div>
                                </div>
                                <div class="item-pre-footer">
                                    <h3><a>@{{item.author}}</a> - {{item.date | date:'dd/MM/yyyy HH:mm:ss'}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
