<ion-view title="Detail Default Page" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="detailDefaultPage-container4">
      <h4 id="detailDefaultPage-heading3" style="color:#000000;">Name Photo</h4>
      <div>
        <img src="img/wL8Dr3JrQomJgzFd6uNH_fondo.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <form id="detailDefaultPage-form5" class="list">
        <div id="detailDefaultPage-markdown8" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>Descripcion</strong> de la foto</p>
        </div>
      </form>
    </div>
    <ion-list id="detailDefaultPage-list6">
      <ion-item class="item-avatar" id="detailDefaultPage-list-item17">
        <h2>Comentario1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="detailDefaultPage-list-item25">
        <h2>Comentario2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="detailDefaultPage-list-item24">
        <h2>Comentario3</h2>
      </ion-item>
      <form id="detailDefaultPage-form6" class="list">
        <h5 id="detailDefaultPage-heading4" style="color:#000000;">Añadir Comentario</h5>
        <label class="item item-input" id="detailDefaultPage-textarea2">
          <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
        <button id="detailDefaultPage-button23" class="button button-dark button-small icon-right ion-android-textsms">Comentar</button>
      </form>
    </ion-list>
  </ion-content>
</ion-view>