<ion-view title="Perfil Default Page" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="perfilDefaultPage-container2">
      <h4 id="perfilDefaultPage-heading2" style="color:#000000;">Scarlett Johanson</h4>
      <div>
        <img class="item-avatar" src="img/jtMmL4wARNGZcj0Bg2aT_profileTestPic3.png" width="50%" height="" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <form id="perfilDefaultPage-form3" class="list">
        <ion-list id="perfilDefaultPage-list3">
          <ion-item id="perfilDefaultPage-list-item4">Nueva York</ion-item>
          <ion-item id="perfilDefaultPage-list-item5">25 años</ion-item>
          <ion-item id="perfilDefaultPage-list-item6">sacrlett.johansson@gmail.com</ion-item>
        </ion-list>
        <div id="perfilDefaultPage-button-bar2" class="button-bar">
          <button id="perfilDefaultPage-button17" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">ITEMS</button>
          <button id="perfilDefaultPage-button18" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">FOLLOWERS</button>
          <button id="perfilDefaultPage-button19" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">FOLLOWING</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>