<ion-view title="Tabs Controller" id="page1">
  <ion-tabs class="tabs-light tabs-icon-left" id="tabsController-tabs1">
    <ion-tab title="Last Minute" icon="ion-ios-timer-outline" href="#/page3/page4" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Discover" icon="ion-ios-eye-outline" href="#/page3/page5" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friends" icon="ion-android-happy" href="#/page3/page6" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>