<ion-view title="Herramientas" id="herramientas">
  <ion-content padding="true" class="has-header">
    <div class="list list-inset">
      <div class="col text-right">
        <button id="logout-button3" ng-click="logout()" class="button button-assertive icon ion-power"> Salir</button>
      </div>
    </div>
    <h4 style="text-align: center">Modificar Datos</h4>
    <form id="register-form2" class="list">
      <ion-list id="register-list2">
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Name</span>
          <input type="text" placeholder="{{userLogued.displayname}}" ng-model="newUser.displayname" required>
        </label>

      </ion-list>
      <button id="register-button3" ng-click="modificarName()" class="button button-stable  button-block">Modificar</button>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="newUser.password" required>
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="" ng-model="newUser.confirm_password" required>
        </label>
      </ion-list>
      <button id="register-button4" ng-click="modificarPassword()" class="button button-stable  button-block">Modificar Contraseña</button>
    </form>
  </ion-content>
</ion-view>
