<ion-view title="Last Minute Default Page" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="lastMinuteDefaultPage-card21" ng-repeat="item in items" href="#/tabsController/detail/{{item.loginid}}">
      <ion-item class="item-avatar" id="lastMinuteDefaultPage-list-item9" ui-sref="tabsController.perfilDefaultPage">
        <img src={{item.author.photo_user||"/img/qK2w8Ne5QRyJIcQP5S5J_profileTestPic3.png"}}>
        <h2>{{item.author.loginid}}</h2>
      </ion-item>
      <strong>{{item.title}} </strong></p>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="tabsController.detailDefaultPage">
          <img src={{item.pic_id||"/img/qK2w8Ne5QRyJIcQP5S5J_profileTestPic3.png"}} width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="lastMinuteDefaultPage-list-item-container2">
        <div id="lastMinuteDefaultPage-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <i class="icon ion-heart"></i><strong>{{item.likes}}</strong><i class="icon ion-chatboxes"></i>{{item.comments.length}}</p>
          {{item.creation_date | date:'dd/MM/yyyy HH:mm'}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
