<ion-view title="Perfil Default Page" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="perfilDefaultPage-container2">
      <h4 id="perfilDefaultPage-heading2" style="color:#000000;">{{usuario.loginid}}</h4>
      <div>
        <img class="item-avatar" src="img/jtMmL4wARNGZcj0Bg2aT_profileTestPic3.png" width="50%" height="" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <form id="perfilDefaultPage-form3" class="list">
        <ion-list id="perfilDefaultPage-list3">
          <ion-item id="perfilDefaultPage-list-item5">{{usuario.name}} {{usuario.last_name}}</ion-item>
          <ion-item id="perfilDefaultPage-list-item6">{{usuario.email}}</ion-item>
          <ion-item id="perfilDefaultPage-list-item4">{{usuario.last_login_date}}</ion-item>
        </ion-list>
        <div id="perfilDefaultPage-button-bar2" class="button-bar">
          <button id="perfilDefaultPage-button17" ng-click="getItemsOrder()"style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">ITEMS</button>
          <button id="perfilDefaultPage-button18" ng-click="getUsers()" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">FOLLOWERS</button>
          <button id="perfilDefaultPage-button19" ng-click="getUsersOrder()" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">FOLLOWING</button>
          </div>
        <button id="perfilDefaultPage-button20" ng-click="createItem()" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">Crear Item</button>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="user in users" ng-click="selectUser(user)">
        <button class="button icon ion-android-person"></button>
          <h2>Nombre: {{user.name}}</h2>
        </ion-item>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in items">
          <h2>Nombre: {{item.title}}, Autor: {{item.author}}, Likes: {{item.likes}}</h2>
        </ion-item>
      </form>
    </div>
  </ion-content>
</ion-view>
