<ion-view title="Tabs Controller Login" id="login">
    <ion-tabs class="tabs-calm tabs-icon-left" id="tabsControllerLogin-tabs1">
        <ion-tab title="Log In" icon="icon ion-log-in" href="#/login/access" id="tabsControllerLogin-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Sign Up" icon="icon ion-person-add" href="#/login/register" id="tabsControllerLogin-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
