<ion-view title="" id="normal">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons ng-controller="menuCtrl" side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons ng-controller="menuCtrl" side="right">
      <div class="col button-right">
        <button class="button button-icon button-clear ion-android-search" ui-sref="tabsControllerNormal.searchDefaultPage"></button>
        <button class="button button-icon button-clear ion-gear-a" ui-sref="tabsControllerNormal.herramientasDefaultPage"></button>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-tabs class="tabs-calm tabs-icon-left" id="tabsController-tabs1">
    <ion-tab title="Perfil" icon="icon ion-android-contact" href="#/tabsControllerNormal/perfil" id="tabsController-tab1">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="icon ion-android-search" href="#/tabsControllerNormal/search" id="tabsController-tab2">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Herramientas" icon="icon ion-gear-b" href="#/tabsControllerNormal/herramientas" id="tabsController-tab3">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
