<ion-view title="Perfil Default Page" id="/user/:loginid">
  <ion-content padding="true" class="has-header">
    <div id="userDefaultPage-container2">
      <h4 id="perfilDefaultPage-heading2" style="color:#000000;">{{userFriend.loginid}}</h4>
      <div>
        <img class="item-avatar" src={{userFriend.photo_user||"/img/qK2w8Ne5QRyJIcQP5S5J_profileTestPic3.png"}} width="50%" height="" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <form id="perfilDefaultPage-form3" class="list">
        <ion-list id="perfilDefaultPage-list3">
          <ion-item id="perfilDefaultPage-list-item5">{{userFriend.displayname}}</ion-item>
          <ion-item id="perfilDefaultPage-list-item6">{{userFriend.email}}</ion-item>
          <ion-item id="perfilDefaultPage-list-item4">{{userFriend.last_login_date | date:'dd/MM/yyyy HH:mm'}}</ion-item>
          <p></p>
          <div class="row">
            <div class="col text-right">
              <button class="button button-calm" ng-hide="followed" ng-click="follow(userFriend._id)">Follow</button>
              <button class="button button-assertive" ng-show="followed" ng-click="unfollow(userFriend._id)">Unfollow</button>
            </div>
          </div>
          </ion-list>
        <div id="perfilDefaultPage-button-bar2" class="button-bar">
          <button id="perfilDefaultPage-button17" ng-click="getUserItems()"style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">ITEMS</button>
          <button id="perfilDefaultPage-button18" ng-click="getFollowers()" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">FOLLOWERS {{userFriend.followers.length || 0}}</button>
          <button id="perfilDefaultPage-button19" ng-click="getFollowing()" style="color:#2E9FFF; font-weight:400; font-size: small;" class="button button-stable  button-block">FOLLOWING {{userFriend.following.length || 0}}</button>
        </div>
        <div class="list animate-fade-slide-in-right">
          <a class="item item-avatar item-icon-right" ng-repeat="user in users" ng-click="verUsuario(user.loginid)">
            <img src={{user.photo_user||"img/qK2w8Ne5QRyJIcQP5S5J_profileTestPic3.png"}}>
            <h2>{{user.loginid}}</h2>
            <p>{{user.name}} {{user.last_name}}</p>
            <i class="icon ion-chatbubble muted"></i>
          </a>
        </div>
        <div class="list card" id="lastMinuteDefaultPage-card21" ng-repeat="item in itemsUsers">
          <ion-item class="item-avatar" id="lastMinuteDefaultPage-list-item9">
            <img src={{userFriend.photo_user||"img/qK2w8Ne5QRyJIcQP5S5J_profileTestPic3.png"}} >
            <h2>{{userFriend.loginid}}</h2>
            <h4>{{item.creation_date | date:'dd/MM/yyyy HH:mm'}}</h4>
          </ion-item>
          <strong>{{item.title}}</strong></p>
          <div class=" item item-image" >
            <a style="display:block;" >
              <img src="/img/{{item.pic_id}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
          </div>
          <div class="item item-body" id="lastMinuteDefaultPage-list-item-container2" >
            <div id="lastMinuteDefaultPage-markdown5" class="show-list-numbers-and-dots" side="left">
              <p style="margin-top:0px;color:#000000;"><i class="icon ion-heart"></i>{{item.likes.length}}<i class="icon ion-chatboxes"></i>{{item.comments.length}}</p>
            </div>
            <button class="button button-stable  button-block" ng-click="verDetalle(item._id)">Ver</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
